* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  height: 100px;
  padding: 10px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

#home {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
}

.events {
  display: inline-block;
  font-size: 20px;
}

.container-events {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
